node_modules
.git
.gitignore
README.md
.env
.env.*
.nyc_output
coverage
.cache
/build
/app/build
/public/build/
/public/_dev
/app/public/build
/prisma/dev.sqlite
/prisma/dev.sqlite-journal
database.sqlite
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*